.Home{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color:#EAE6DF;
    color:black;
    .TopMenu{
        @media screen and (max-width:640px){
            margin-top: 15vh;
        }
        position:fixed;
        width:100vw;
        height: 10vh;
        display:flex;
        justify-content: space-around;
        align-items: center;
        .ResearchBar{
            @media screen and (max-width:640px){
                margin-left: 10px;
            }
            display: flex;
            border-radius:4px;
            text-align:center;
            font-size:18px;
            margin-top: 11px;
            margin-left: 35%;
        }
        button{
            display: flex;
            line-height: 17px;
            background-color:#F26100;
            color:#F2ECE4;
            border-radius:4px;
            border:none;
            font-size:17px;
            padding: 6px;
            margin-top: 11px;
            margin-right: 10px;
            margin-left: 10px;
            text-decoration:none;
            font-weight:bold;
            cursor:pointer;
        }
    }
    .Content{
        @media screen and (max-width: 640px){
            justify-content: center;
        }
        display:flex;
        .LeftBackground{
            @media screen and (max-width: 640px){
                top:0;
                left:0;
                width:100vw;
                height:0;
                position:absolute;
                transition:height 0ms ease-in-out 500ms,background-color 500ms ease-in-out;
            }
            top:0;
            left:0;
            width:0;
            height:100vh;
            position:absolute;
            transition:width 0ms ease-in-out 500ms,background-color 500ms ease-in-out;
            &.Open{
                @media screen and (max-width:640px){
                    height:100vh;
                }
                transition:background-color 500ms ease-in-out;
                width:100vw;
                height:100vh;
                background-color:rgba(0, 0, 0, 0.401);
            }
        }
        .LeftMenu{
            @media screen and (max-width:640px){
                position:absolute;
                background-color:#aacae9;
                width:100vw;
                height:15vh;
                min-height: 100px;
                margin-left:0;
                min-width: 200px;
            }
            transition: width 500ms ease-in-out, height 500ms ease-in-out;
            position:absolute;
            background-color:#aacae9;
            height:100vh;
            width:15vw;
            min-width: 200px;
            margin-left:3%;
            .LeftContent{
                @media screen and (max-width:640px){
                    margin-top: 1vh;
                    display:flex;
                    align-items:center;
                    overflow: auto;
                }
                margin-top:calc(10vh + 25px);
                display:flex;
                flex-direction:column;
                align-items:center;
                button{
                    @media screen and (max-width:640px){
                        top: 13vh;
                        right:15px;
                    }
                    position:absolute;
                    width:5vw;
                    min-width: 30px;
                    background-color:#f26100;
                    color:#F2ECE4;
                    border-radius:4px;
                    border:none;
                    font-size:0;
                    padding: 3px;
                    text-decoration:none;
                    font-weight:bold;
                    top:10px;
                    right:-15px;
                    cursor:pointer;
                }
                button:hover{
                    img{
                        background:url(../image/arrowright.svg)
                    }
                }
                ul{
                    @media screen and (max-width:640px){
                        display: flex;
                        flex-wrap: wrap;
                        margin:10px;
                        overflow: auto;
                        height: 10vh;
                    }
                    margin:0;
                    padding:0;
                    li{
                        @media screen and (max-width:640px){
                            display: flex;
                            margin:10px;
                        }
                        list-style-type:none;
                        cursor:pointer;
                        margin-bottom: 6px;
                    }
                    li:hover{
                        @media screen and (max-width:640px){
                            font-size: 16px;
                        }
                        color:#F26100;
                        font-size: 20px;
                    }
                }
            }
            &.Open{
                width:80vw;
                height: 100vh;
                transition: width 500ms ease-in-out, height 500ms ease-in-out;
                button:hover{
                    img{
                        background:url(../image/arrowleft.svg);
                    }
                }
                .Categorie{
                    @media screen and (max-width:640px){
                        height: 85vh;
                    }
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 60vw;
                    height: 80vh;
                    overflow: auto;
                    .Card{
                        justify-content:left;
                        width:300px;
                        margin: 2%;
                        display: flex;
                        .CardImage{
                            text-align:center;
                            img{
                                width:50px;
                                cursor:pointer;
                            }
                        }
                        .CardTitle{
                            text-align:center;
                            cursor:pointer;
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;
                        }
                        .CardTitle:hover{
                            color:#F26100;
                        }
                    }
                }
            }
        }
        .RightMenu{
            @media screen and (max-width: 640px){
                margin-top: 15vh;
                margin-left: 0;
            }
            width:calc(100vw - (15vw + 3%));
            margin-left:25vw;
            .RightContent{
                margin-top:calc(10vh + 25px);
                .Procedure{
                    @media screen and (max-width: 640px){
                        height: 65vh;
                    }
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 74vw;
                    height: 80vh;
                    overflow: auto;
                    .Card{
                        justify-content:left;
                        width:320px;
                        margin: 2%;
                        display: flex;
                        cursor:pointer;
                        align-items: center;
                        .CardImage{
                            text-align:center;
                            img{
                                width:65px;
                            }
                        }
                        .CardTitle{
                            text-align:center;
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;
                        }
                    }
                    .Card:hover{
                        color:#F26100;
                    }
                }
            }
        }
    }
    .ModalWindowProcedure{
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        .ModalBackgroundProcedure{
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            position:absolute;
            background-color:rgba(0, 0, 0, 0.401);
        }
        .ModalProcedure{
            display: flex;
            flex-direction: column;
            width: 80vw;
            height: 80vh;
            background-color: #EAE6DF;
            border-style: solid;
            border-width: 3px;
            border-radius: 10px;
            border-color: #aacae9;
            position: absolute;
            text-align: center;
            overflow-y: auto;
            .ModalHeaderProcedure{
                border-radius:10px;
                display: flex;
                width: 80vw;
                justify-content: space-between;
                position: fixed;
                background-color: #EAE6DF;
                z-index: 1;
                align-items: center;
                h1{
                    @media screen and (max-width: 800px) {
                        margin-left: 3%;
                        font-size: 1.2em;
                    }
                    margin-left: 3%;
                    font-size: 1.5em;
                }
                img{
                    cursor:pointer;
                    width : 4vw;
                    height : 4vh;
                    min-width: 20px;
                    min-height: 20px;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-right: 3%;
                    margin-top: 5px;
                }
            }
            .ModalBodyProcedure{
                @media screen and (max-width: 1100px) {
                    margin-top: 8vh;
                }
                @media screen and (max-width: 800px) {
                    margin-top: 9vh;
                }
                @media screen and (max-width: 640px) {
                    margin-top: 11.5vh;
                }
                margin-top: 5vh;
                overflow: auto;
                p{
                    margin: 1em;
                    text-align: justify;
                }
            }
        }

    }
    .ModalWindow{
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        
        .ModalBackground{
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            position:absolute;
            background-color:rgba(0, 0, 0, 0.401);
        }
        .Modal{
            @media screen and (max-width: 640px){
                width:90vw;
                height:90vh;
            }
            display: flex;
            flex-direction: column;
            width:80vw;
            height:80vh;
            background-color:#EAE6DF;
            border-style:solid;
            border-width:3px;
            border-radius:10px;
            border-color:#aacae9;
            position:absolute;
            text-align:center;
            overflow-y: auto;
            .ModalHeader{
                @media screen and (max-width: 640px){
                    height: 6vh;
                    width: 90vw;
                }
                border-radius:10px;
                display: flex;
                width: 80vw;
                justify-content: space-around;
                position: fixed;
                height: 9vh;
                background-color: #EAE6DF;
                z-index: 1;
                align-items: center;
                h1{
                    @media screen and (max-width: 640px){
                        font-size: 15px;
                        padding: 5px;
                    }
                    font-size: 2.5vw;
                    padding: 10px;
                }
                img{
                    cursor:pointer;
                    width : 5vw;
                    height : 5vh;
                    min-width: 20px;
                    min-height: 20px;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .ChooseCategorie{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 5px;
                    select{
                        display: flex;
                        height: 30px;
                        border-radius:4px;
                        font-size:17px;
                        cursor:pointer;
                    }
                }
                .DecisionButton{
                    display: flex;
                    align-items: center;
                    .ValidateButton{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .ModalBody{
                @media screen and (max-width: 640px){
                    margin-top: 4vh;
                }
                margin-top: 7vh;
                .Editor{
                    margin: 2em;
                    .ck-content{
                        @media screen and (max-width: 640px){
                            height: 73vh;
                        }
                        height: 60vh;
                    }

                }
            }
        }
    }
}