.Home{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color:#EAE6DF;
    color:black;
    .TopMenu{
        position:fixed;
        width:100vw;
        height: 40px;
        display:flex;
        justify-content: space-around;
        .ResearchBar{
            display: flex;
            border-radius:4px;
            text-align:center;
            font-size:18px;
            margin-top: 11px;
            margin-left: 35%;
        }
        button{
            display: flex;
            line-height: 17px;
            background-color:#F26100;
            color:#F2ECE4;
            border-radius:4px;
            border:none;
            font-size:17px;
            padding: 6px;
            margin-top: 11px;
            margin-right: 10px;
            margin-left: 10px;
            text-decoration:none;
            font-weight:bold;
            cursor:pointer;
        }
    }
    .Content{
        display:flex;
        .LeftBackground{
            top:0;
            left:0;
            width:0vw;
            height:100vh;
            position:absolute;
            transition:width 0ms ease-in-out 500ms,background-color 500ms ease-in-out;
            &.Open{
                transition:background-color 500ms ease-in-out;
                width:100vw;
                height:100vh;
                background-color:rgba(0, 0, 0, 0.401);
            }
        }
        .LeftMenu{
            transition: width 500ms ease-in-out;
            position:absolute;
            background-color:#aacae9;
            height:100vh;
            width:15vw;
            min-width: 200px;
            margin-left:3%;
            .LeftContent{
                margin-top:calc(10vh + 25px);
                display:flex;
                flex-direction:column;
                align-items:center;
                button{
                    position:absolute;
                    width:5vw;
                    background-color:#f26100;
                    color:#F2ECE4;
                    border-radius:4px;
                    border:none;
                    font-size:16px;
                    padding: 4px;
                    text-decoration:none;
                    font-weight:bold;
                    top:10px;
                    right:-15px;
                    cursor:pointer;
                }
                button:hover{
                    img{
                        background:url('../image/arrowright.svg') no-repeat;
                    }
                }
                .Categorie{
                    width: 170px;
                }
                ul{
                    margin:0;
                    padding:0;
                    li{
                        list-style-type:none;
                        cursor:pointer;
                        margin-bottom: 6px;
                    }
                    li:hover{
                        color:#F26100;
                        font-size: 20px;
                    }
                }
            }
            &.Open{
                width:80vw;
                button:hover{
                    img{
                        background:url(../image/arrowleft.svg);
                    }
                }
                .Categorie{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 60vw;
                    height: 80vh;
                    overflow: auto;
                    .Card{
                        justify-content:left;
                        width:300px;
                        margin: 2%;
                        display: flex;
                        .CardImage{
                            text-align:center;
                            img{
                                width:50px;
                                cursor:pointer;
                            }
                        }
                        .CardTitle{
                            text-align:center;
                            cursor:pointer;
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;
                        }
                        .CardTitle:hover{
                            color:#F26100;
                        }
                    }
                }
            }
        }
        .RightMenu{
            width:calc(100vw - (15vw + 3%));
            margin-left:25vw;
            .RightContent{
                margin-top:calc(10vh + 25px);
                .Procedure{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: space-around;
                    align-items: center;
                    width: 74vw;
                    height: 80vh;
                    overflow: auto;
                    .Card{
                        justify-content:left;
                        width:320px;
                        margin: 2%;
                        display: flex;
                        cursor:pointer;
                        .CardImage{
                            text-align:center;
                            img{
                                width:65px;
                            }
                        }
                        .CardTitle{
                            text-align:center;
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;
                        }
                    }
                    .Card:hover{
                        color:#F26100;
                    }
                }
            }
        }
    }
    .ModalWindowProcedure{
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        .ModalBackgroundProcedure{
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            position:absolute;
            background-color:rgba(0, 0, 0, 0.401);
        }
        .ModalProcedure{
            display: flex;
            flex-direction: column;
            width: 80vw;
            height: 80vh;
            background-color: #EAE6DF;
            border-style: solid;
            border-width: 3px;
            border-radius: 10px;
            border-color: #aacae9;
            position: absolute;
            text-align: center;
            overflow-y: auto;
            .ModalHeaderProcedure{
                border-radius:10px;
                display: flex;
                align-items:center;
                width: 80vw;
                justify-content: space-between;
                position: fixed;
                background-color: #EAE6DF;
                z-index: 1;
                h1{
                    margin-left: 3%;
                }
                img{
                    cursor:pointer;
                    margin-right: 3%;
                    height:40px;
                }
            }
            .ModalBodyProcedure{
                margin-top:65px;
                .Editor{
                    margin: 2em;
                    .ck-content{
                        height: 60vh;
                    }

                }
            }
        }

    }
    .ModalWindow{
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        
        .ModalBackground{
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            position:absolute;
            background-color:rgba(0, 0, 0, 0.401);
        }
        .Modal{
            display: flex;
            flex-direction: column;
            width:80vw;
            height:80vh;
            background-color:#EAE6DF;
            border-style:solid;
            border-width:3px;
            border-radius:10px;
            border-color:#aacae9;
            position:absolute;
            text-align:center;
            overflow-y: auto;
            .ModalHeader{
                border-radius:10px;
                display: flex;
                width: 80vw;
                justify-content: space-around;
                position: fixed;
                height: 8vh;
                background-color: #EAE6DF;
                z-index: 1;
                h1{
                    font-size: 2.5vw;
                }
                img{
                    cursor:pointer;
                }
                .ChooseCategorie{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    select{
                        display: flex;
                        height: 30px;
                        border-radius:4px;
                        font-size:17px;
                        cursor:pointer;
                    }
                }
                .DecisionButton{
                    display: flex;
                    align-items:center;
                    margin-right:-50px;
                    
                    img{
                        height:40px;
                    }
                    .ValidateButton{
                        margin-right:20px;
                    } 
                }
            }
            .ModalBody{
                margin-top:5%;
                .Editor{
                    margin: 2em;
                    .ck-content{
                        height: 60vh;
                    }

                }
            }
        }
    }
}